:root {
  --accent: #ffd479;

  --font-base: "Roboto", sans-serif;
  --font-accent: "Bebas Neue", sans-serif;
  --shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  --transition: all 0.3s ease;

  --error: #ff3333;
  --success: #4bb543;
}

body {
  background-color: #1f2a32;
  color: #fafaf5;

  font-family: var(--font-base);
  font-weight: 300;
}

a {
  color: #fafaf5;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  max-width: 1200px;
  width: 100%;
}

.container-contact {
  max-width: 615px;
}
